
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = { "ceph-mon": { "unique": true, "count": 1 }, "ceph-store": { "count": -1 } };
    node_selector($('#drag_drop'), constraints);
  });

